# 1. Imports

In [1]:
import pandas as pd

# 2. Load and enrich datasets

In [2]:
df_ec = pd.read_csv('data/DadosFinais.csv')
df_ibge = pd.read_csv('data/dados_ibge.csv', sep=';')
df_enem = pd.read_csv('data/MediasEnem.csv', index_col=0)

df_enem = df_enem[['NO_MUNICIPIO_ESCOLA', 'NU_TAXA_APROVACAO_1', 'NU_TAXA_REPROVACAO_1', 'NU_TAXA_ABANDONO_1']]

In [3]:
# Convert absolute columns in relative to each 100000 habitants

df_ibge['sus_hab'] = df_ibge['qt_estabelecimentos_saude_sus']*100000 / df_ibge['populacao_estimada']
df_ibge['perc_populacao_exposta_risco'] = df_ibge['populacao_exposta_risco'] / df_ibge['populacao_estimada']


cols = ['municipio', 'densidade_demografica', 'populacao_estimada', 'salario_medio_mensal_trabalhadores_formais','perc_pop_rend_per_capta_meio_sm', 'tx_escolarizacao_16_14', 
        'IDEB_anos_iniciais_ef', 'IDEB_anos_finais_ef', 'idhm', 'pib_per_capta', 'mortalidade_infantil', 
        'esgotamento_sanitario_adequado',  'sus_hab', 'perc_populacao_exposta_risco']


df_ibge = df_ibge[cols]

In [4]:
df_ec['QT_EQ_MULTIMIDIA'] = df_ec[['QT_EQUIP_DVD_1', 'QT_EQUIP_SOM_1', 'QT_EQUIP_TV_1', 'QT_EQUIP_MULTIMIDIA_1']].sum(axis=1)
df_ec['QT_EQUIP_INFORMATICA'] = df_ec[['QT_DESKTOP_ALUNO_1', 'QT_COMP_PORTATIL_ALUNO_1']].sum(axis=1)
df_ec['QT_PROF_SUPORTE'] = df_ec[[ 'QT_PROF_PEDAGOGIA_1', 'QT_PROF_SECRETARIO_1', 'QT_PROF_SEGURANCA_1']].sum(axis=1)



cols_drop = ['QT_EQUIP_DVD_1', 'QT_EQUIP_SOM_1', 'QT_EQUIP_TV_1', 'QT_EQUIP_MULTIMIDIA_1', 'QT_DESKTOP_ALUNO_1', 'QT_COMP_PORTATIL_ALUNO_1', 'QT_PROF_PEDAGOGIA_1', 
             'QT_PROF_SECRETARIO_1', 'QT_PROF_SEGURANCA_1']

df_ec.drop(cols_drop, axis=1, inplace=True)

cols_ec = df_ec.columns.tolist()

cols_ec_qt = matching = [s for s in cols_ec if "QT_" in s]
df_ec[cols_ec_qt] = df_ec[cols_ec_qt].div(df_ec['nEscolas'], axis=0)

In [5]:
cols_ec = df_ec.columns.tolist()
# cols_ec

In [6]:
df_ibge.rename({'municipio':'NO_MUNICIPIO'}, inplace = True, axis = 1)
df_enem.rename({'NO_MUNICIPIO_ESCOLA':'NO_MUNICIPIO'}, inplace = True, axis = 1)

merge_df = pd.merge(df_ec, df_ibge, on=["NO_MUNICIPIO", "NO_MUNICIPIO"])

merge_df['escolas_hab'] = merge_df['nEscolas']*100000/merge_df['populacao_estimada']
merge_df['homicidios_hab'] = merge_df['Homicidios'] * 100000 / merge_df['populacao_estimada']
merge_df['furtos_hab'] = merge_df['Furto'] * 100000 / merge_df['populacao_estimada']

merge_df = pd.merge(merge_df, df_enem, on=["NO_MUNICIPIO", "NO_MUNICIPIO"])
merge_df.head()

,NO_MUNICIPIO,IN_SALA_DIRETORIA_1,IN_INTERNET_1,IN_REDES_SOCIAIS_1,IN_NOTURNO_1,IN_EJA_1,IN_SECRETARIA_1,IN_EQUIP_LOUSA_DIGITAL_1,IN_SALA_PROFESSOR_1,IN_AREA_VERDE_1,...,mortalidade_infantil,esgotamento_sanitario_adequado,sus_hab,perc_populacao_exposta_risco,escolas_hab,homicidios_hab,furtos_hab,NU_TAXA_APROVACAO_1,NU_TAXA_REPROVACAO_1,NU_TAXA_ABANDONO_1
0,Adamantina,0.800000,0.800000,0.266667,0.066667,0.066667,0.733333,0.066667,0.666667,0.133333,...,2.61,0.958,22.757659,0.000000,42.670611,5.689415,429.550821,0.967806,0.027833,0.004361
1,Aguaí,0.823529,0.882353,0.588235,0.058824,0.058824,0.882353,0.411765,0.823529,0.058824,...,10.44,0.901,32.449095,0.000000,45.969552,8.112274,689.543279,0.920430,0.067919,0.011651
2,Águas da Prata,0.500000,0.833333,0.000000,0.000000,0.000000,0.333333,0.666667,0.666667,0.000000,...,NaN,0.845,48.414427,0.000000,72.621641,0.000000,459.937061,0.967000,0.033000,0.000000
3,Águas de Lindóia,0.266667,0.466667,0.200000,0.066667,0.066667,0.400000,0.000000,0.533333,0.066667,...,4.02,0.929,47.598900,0.167284,79.331500,0.000000,798.603766,0.940276,0.039807,0.019917
4,Águas de São Pedro,1.000000,1.000000,0.500000,0.000000,0.000000,0.500000,0.000000,1.000000,0.000000,...,NaN,0.974,111.482720,0.000000,55.741360,0.000000,863.991081,0.972000,0.028000,0.000000

# 3. Store Enriched Dataset

In [7]:
merge_df.to_csv('data/DadosFinaisEnrich.csv', index=False)

In [8]:
df = pd.read_csv('data/DadosFinaisEnrich.csv')
df

,NO_MUNICIPIO,IN_SALA_DIRETORIA_1,IN_INTERNET_1,IN_REDES_SOCIAIS_1,IN_NOTURNO_1,IN_EJA_1,IN_SECRETARIA_1,IN_EQUIP_LOUSA_DIGITAL_1,IN_SALA_PROFESSOR_1,IN_AREA_VERDE_1,...,mortalidade_infantil,esgotamento_sanitario_adequado,sus_hab,perc_populacao_exposta_risco,escolas_hab,homicidios_hab,furtos_hab,NU_TAXA_APROVACAO_1,NU_TAXA_REPROVACAO_1,NU_TAXA_ABANDONO_1
0,Adamantina,0.800000,0.800000,0.266667,0.066667,0.066667,0.733333,0.066667,0.666667,0.133333,...,2.61,0.958,22.757659,0.000000,42.670611,5.689415,429.550821,0.967806,0.027833,0.004361
1,Aguaí,0.823529,0.882353,0.588235,0.058824,0.058824,0.882353,0.411765,0.823529,0.058824,...,10.44,0.901,32.449095,0.000000,45.969552,8.112274,689.543279,0.920430,0.067919,0.011651
2,Águas da Prata,0.500000,0.833333,0.000000,0.000000,0.000000,0.333333,0.666667,0.666667,0.000000,...,NaN,0.845,48.414427,0.000000,72.621641,0.000000,459.937061,0.967000,0.033000,0.000000
3,Águas de Lindóia,0.266667,0.466667,0.200000,0.066667,0.066667,0.400000,0.000000,0.533333,0.066667,...,4.02,0.929,47.598900,0.167284,79.331500,0.000000,798.603766,0.940276,0.039807,0.019917
4,Águas de São Pedro,1.000000,1.000000,0.500000,0.000000,0.000000,0.500000,0.000000,1.000000,0.000000,...,NaN,0.974,111.482720,0.000000,55.741360,0.000000,863.991081,0.972000,0.028000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,Vinhedo,0.942857,0.971429,0.514286,0.057143,0.057143,0.971429,0.000000,0.914286,0.228571,...,4.56,0.952,15.947789,0.000000,42.936356,2.453506,603.562491,0.860768,0.101115,0.038117
445,Viradouro,1.000000,0.916667,0.166667,0.166667,0.166667,0.833333,0.333333,0.750000,0.083333,...,4.72,0.978,52.265719,0.000000,62.718863,5.226572,574.922908,0.959000,0.041000,0.000000
446,Votorantim,1.000000,0.901961,0.019608,0.019608,0.019608,0.686275,0.039216,0.823529,0.000000,...,11.82,0.961,12.051290,0.045578,40.974387,3.213677,573.641418,0.947370,0.034075,0.018554
447,Votuporanga,0.967742,1.000000,0.000000,0.032258,0.032258,0.677419,0.838710,0.838710,0.032258,...,6.51,0.970,20.810355,0.000000,32.256051,7.283624,986.410838,0.955427,0.037162,0.007411
448,Zacarias,1.000000,1.000000,0.500000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,NaN,0.818,35.919540,0.000000,71.839080,35.919540,1185.344828,1.000000,0.000000,0.000000

In [9]:
df.columns.to_list()

['NO_MUNICIPIO',
 'IN_SALA_DIRETORIA_1',
 'IN_INTERNET_1',
 'IN_REDES_SOCIAIS_1',
 'IN_NOTURNO_1',
 'IN_EJA_1',
 'IN_SECRETARIA_1',
 'IN_EQUIP_LOUSA_DIGITAL_1',
 'IN_SALA_PROFESSOR_1',
 'IN_AREA_VERDE_1',
 'IN_REFEITORIO_1',
 'IN_ORGAO_ASS_PAIS_1',
 'IN_ORGAO_ASS_PAIS_MESTRES_1',
 'IN_ORGAO_CONSELHO_ESCOLAR_1',
 'IN_ORGAO_GREMIO_ESTUDANTIL_1',
 'IN_BIBLIOTECA_1',
 'IN_QUADRA_ESPORTES_1',
 'ANO_LETIVO_1',
 'Alunos_Turma_1',
 'COMUNIDADE_1',
 'ACESSIBILIDADE_1',
 'Material_Ped_1',
 'Equipamento_Inform_1',
 'Lab_Inform_1',
 'Atividades_complementares_1',
 'Espacos_1',
 'IN_BANHEIRO_CHUVEIRO_1',
 'Equip_1',
 'QT_SALAS_UTILIZADAS_1',
 'QT_EQUIP_LOUSA_DIGITAL_1',
 'QT_PROF_ADMINISTRATIVOS_1',
 'QT_PROF_SERVICOS_GERAIS_1',
 'QT_PROF_BIBLIOTECARIO_1',
 'QT_PROF_COORDENADOR_1',
 'QT_PROF_NUTRICIONISTA_1',
 'QT_PROF_ALIMENTACAO_1',
 'QT_PROF_MONITORES_1',
 'QT_MAT_BAS_1',
 'QT_MAT_EJA_1',
 'QT_MAT_BAS_0_3_1',
 'QT_MAT_BAS_4_5_1',
 'QT_MAT_BAS_6_10_1',
 'QT_MAT_BAS_11_14_1',
 'QT_MAT_BAS_15_17_1',
 'QT_MAT_BAS_18_MAIS_1',
 'QT_DOC_BAS_1',
 'QT_TUR_BAS_1',
 'nEscolas',
 'Homicidios',
 'Furto',
 'QT_EQ_MULTIMIDIA',
 'QT_EQUIP_INFORMATICA',
 'QT_PROF_SUPORTE',
 'densidade_demografica',
 'populacao_estimada',
 'salario_medio_mensal_trabalhadores_formais',
 'perc_pop_rend_per_capta_meio_sm',
 'tx_escolarizacao_16_14',
 'IDEB_anos_iniciais_ef',
 'IDEB_anos_finais_ef',
 'idhm',
 'pib_per_capta',
 'mortalidade_infantil',
 'esgotamento_sanitario_adequado',
 'sus_hab',
 'perc_populacao_exposta_risco',
 'escolas_hab',
 'homicidios_hab',
 'furtos_hab',
 'NU_TAXA_APROVACAO_1',
 'NU_TAXA_REPROVACAO_1',
 'NU_TAXA_ABANDONO_1']